<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.codame.gimbal"
      version="0.1.0">
    <name>CodameGimbal</name>
    <description>Custom Qualcomm Gimbal FYX bridge</description>
    <license>MIT</license>
    <keywords>phonegap,ios,gimbal,qualcomm,fyx</keywords>
 
    <js-module src="www/gimbal.js" name="Gimbal">
        <clobbers target="Gimbal" />
    </js-module>
    
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Gimbal">
                <param name="ios-package" value="Gimbal" />
            </feature>
        </config-file>
        
        <header-file src="src/ios/Gimbal.h" />
        <source-file src="src/ios/Gimbal.m" />
    </platform>
</plugin>